extends ../layout.pug

block content
  #page-type-view
    .container.is-fluid
      .columns.is-gapless

        .column.is-narrow.is-hidden-touch.sidebar

          include ../common/sidebar.pug

        .column

          .hero
            h1.title Bridges
            h2.subtitle Manage your bridges / hubs
          .content
            img.device.is-small(src="/images/devices/philips/bridge_v2.svg")
