
.modal
  .modal-background
  .modal-container
    .modal-content
      header.is-light-blue Discovering new bridges...
      section.modal-loading
        i
        span Scanning network...
        em Please wait
      footer
        a.button.is-grey.is-outlined Abort
