
.modal(v-bind:class='{ "is-active": setupModal.state }')
  .modal-background
  .modal-container
    .modal-content
      template(v-if='setupModal.step === "fetching"')
        header.is-light-blue Preparing for hub setup
        section.modal-loading
          i
          span Fetching hub information...
          em Please wait
      template(v-if='setupModal.step === "setup"')
        header.is-light-blue Authorization required
        section.modal-instructions
          img(src='/images/devices/philips-hue/pushlink_bridgev2.svg')
          span #[strong Push the button] on your Philips Hue bridge within 30 seconds
          em Waiting for authorization...
      template(v-if='setupModal.step === "success"')
        header.is-green Hub setup completed
        section.modal-instructions
          i.icon-circle-check.is-huge.is-green
          span Congratulations! Your hub is now ready for use and synced.
        footer
          a.button.is-green(v-on:click='setupHubFinish') Finish
