
.modal(v-bind:class='{ "is-active": createModal.state }')
  .modal-background
  .modal-container
    .modal-content
      header.is-green Create New Room
      section(v-if='!createModal.loading')
        label.label Enter a name for this room:
        p.control.is-fullwidth
          input.input(type='text', placeholder='e.g. Living Room', v-model='createModal.name')
          span.help.is-red(v-if='createModal.nameIsError') This room name is invalid!
      section.modal-loading(v-if='createModal.loading')
        i
        span Creating new room...
        em Please wait
      footer(v-show='!createModal.loading')
        a.button.is-grey.is-outlined(v-on:click='createRoomDiscard') Discard
        a.button.is-green(v-on:click='createRoomCreate') Create
