
.modal
	.modal-background
	.modal-container
		.modal-content
				header.is-green Create New Room
				section
					label.label Enter a name for this room:
					p.control.is-fullwidth
						input.input(type='text', placeholder='e.g. Living Room')
						span.help.is-red.is-hidden This room name is invalid!
				footer
					a.button.is-grey.is-outlined Discard
					a.button.is-green Create