extends ../layout.pug

block content
	#page-type-view
		.container.is-fluid
			.columns.is-gapless

				.column.is-narrow.is-hidden-touch.sidebar

					aside
						.sidebar-label
							i.icon-home
							span My Home
						ul.sidebar-menu
							li
								a(href='/')
									i.icon-grid
									span Dashboard
							li
								a(href='/lights')
									i.icon-lightbulb
									span Lights
							li
								a(href='/rooms')
									i.icon-marquee
									span Rooms
							li
								a(href='/scenes')
									i.icon-sun
									span Scenes
							li
								a(href='/triggers')
									i.icon-power2
									span Triggers
							li
								a(href='/schedules')
									i.icon-clock
									span Schedules
							li
								a(href='/rules')
									i.icon-flow-merge
									span Rules
					aside
						.sidebar-label
							i.icon-cog
							span System
						ul.sidebar-menu
							li
								a(href='/admin/bridges')
									i.icon-box
									span Bridges
							li
								a(href='/admin/users')
									i.icon-users
									span Users
							li
								a(href='/admin/settings')
									i.icon-cog
									span Configuration
							li
								a(href='/logout')
									i.icon-delete2
									span Logout

				.column

					.hero
						h1.title Dashboard
						h2.subtitle Overview of your home automation state
					.content
						| ...