extends ../layout.pug

block content
  #page-type-view
    .container.is-fluid
      .columns.is-gapless

        .column.is-narrow.is-hidden-touch.sidebar

          include ../common/sidebar

        .column

          .hero
            h1.title Dashboard
            h2.subtitle Overview of your home automation
          .content
            | ...
