extends ../layout.pug

block head
  script(type='text/javascript', src='/js/pages/rooms.min.js')

block rootNavRight
  i.nav-item#notifload
  .nav-item#rooms-create-btn
    a.button
      i.icon-plus
      span Create

block content
  #page-rooms
    .container.is-fluid
      .columns.is-gapless

        .column.is-narrow.is-hidden-touch.sidebar

          include ../common/sidebar.pug

        .column

          .hero
            h1.title Rooms
            h2.subtitle Manage your rooms
          .content
            .rooms.columns.is-multiline
              each rm in rooms
                .column.is-one-quarter-desktop.is-half-tablet
                  .room
                    .room-icon: i.icon-expand
                    .room-title= rm.name
                    .room-contents.columns.is-mobile.is-multiline.is-gapless
                      .column.is-half
                        strong Lights
                        span 4
                      .column.is-half
                        strong Current Scene
                        span Relax
                      
    include ../modals/rooms-create.pug
