extends ../layout.pug

block head
  script(type='text/javascript', src='/js/pages/rooms.min.js')

block rootNavRight
  i.nav-item#notifload
  .nav-item#rooms-create-btn
    a.button
      i.icon-plus
      span Create

block content
  #page-rooms
    .container.is-fluid
      .columns.is-gapless

        .column.is-narrow.is-hidden-touch.sidebar

          include ../common/sidebar.pug

        .column

          .hero
            h1.title Rooms
            h2.subtitle Manage your rooms
          .content
            .rooms.columns.is-multiline
              each rm in rooms
                .column.is-one-quarter-desktop.is-half-tablet
                  .room
                    .room-icon: i.icon-expand
                    .room-title= rm.name
                    .room-contents.columns.is-mobile.is-multiline.is-gapless
                      .column.is-half
                        strong Devices
                        span= rm.devices
                      .column.is-half
                        strong Current Scene
                        span None
                    .room-actions
                      a.button.is-green.is-outlined(href='/rooms/' + rm.id)
                        i.icon-cog
                        span Manage
                      button.button.is-green.is-outlined(v-on:click='assignRoom("' + rm.id + '", "' + rm.name + '")')
                        i.icon-link2
                        span Assign
                      button.button.is-green.is-outlined
                        i.icon-sun
                        span Scene

    include ../modals/rooms-create.pug
    include ../modals/rooms-assign.pug
