extends ../layout.pug

block rootNavRight
  i#notifload.nav-item
  .nav-item
    a.button.btn-create-prompt
      i.icon-arrow-sync
      span Discover

block content
  #page-type-view
    .container.is-fluid
      .columns.is-gapless

        .column.is-narrow.is-hidden-touch.sidebar

          include ../common/sidebar.pug

        .column

          .hero
            h1.title Bridges
            h2.subtitle Manage your bridges / hubs
          .content
            .device-list
              each br in bridges
                .device
                  .device-icon: img.is-small(src="/images/devices/" + br.icon)
                  .device-state.is-on
                  .device-title
                    = br.name
                    span #{br.brand} - #{br.model} - #{br.ipAddress}

  include ../modals/bridges-discover.pug
